/* .construction-image {
    width: 10%;
    height: 50%;
}

.cool-image {
    width: 100px;
    height: 100px;
} */

body {
  background-color: yellow;
}

#btn2 {
  display: inline-block;
  background-color: #8208e6;
  border-radius: 20px;
  /* border: 4px double rgb(215, 247, 38); */
  border: none;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* #btn2:hover {
  background-color: rgb(241, 245, 20);
} */


#demo {
    font-size: x-large;
    justify-content: space-around;
}

.navBar ul {
  margin: 0;
  font-size: 30px;
  padding: 0 0 0 0;
  display: flex;
  justify-content:space-between;
  list-style: none;
}

.navBar ul a {
  display: block;
  padding: .5rem 1rem;
  color: #8208e6;
}

.footer {
  font-size: 30px;
}