/* .construction-image {
    width: 10%;
    height: 50%;
}

.cool-image {
    width: 100px;
    height: 100px;
} */

body {
  background-color: yellow;
}

button {
  display: inline-block;
  background-color: yellow;
  border-radius: 10px;
  border: 4px double rgb(215, 247, 38);
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: rgb(241, 245, 20);
}


#demo {
    font-size: x-large;
    justify-content: space-around;
}