/* .construction-image {
    width: 10%;
    height: 50%;
}

.cool-image {
    width: 100px;
    height: 100px;
} */

body {
    background-color: yellow;
}

button {
    height: 200px;
    width: 700px;
    font: 1em sans-serif;
}